.wrapper {
	position: fixed;
	display: block;
	width: 100%;
	top: auto;
	bottom: 0;
	left: 0;
	z-index: 1049;

	> div {
		position: absolute;
		width: calc(100% - 1rem);
		max-width: calc(100% - 1rem);
		right: -1000rem;
		top: auto;
		bottom: 0.5rem;
		background-color: white;

		// sm
		@media (min-width: 576px) {
			width: 350px;
			max-width: 350px;
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
}
