.svg-wrapper {
	position: relative;
	height: calc(48px + 18.6px + 8px);

	> div {
		position: absolute;
		top: 0;
		left: 0;
		width: 75px;
		height: 75px;
		> svg {
			position: relative;
			width: 100%;
		}
	}
}