@import 'colors';
@import 'mixins';

.text-muted {
	color: #62759b !important;
}

.list-item p {
	margin-bottom: 0 !important;
}

.shadow-dark-sm {
	box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}

.border-secondary {
	border-color: rgba(14, 30, 37, 0.12) !important;
}

.border-danger {
	border-color: rgba(223, 71, 89, 0.7) !important;
}

.border-success {
	border-color: rgba(66, 186, 150, 0.7) !important;
}

.border-width-2 {
	border-width: 2px;
}

.btn,
.btn.btn-sm,
.card,
.rounded {
	@include borderRadius;
}

.btn-sm {
	min-width: 9.882rem;
}

.unobtrusive-list {
	margin: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		margin-bottom: 10px;
		padding-left: 15px;
		position: relative;
		&::before {
			background-color: #c5d2d8;
			border-radius: 50%;
			content: '';
			height: 5px;
			left: 0;
			position: absolute;
			top: 0.7em;
			transform: translateY(-50%);
			width: 5px;
		}
		p {
			margin-bottom: 0 !important;
		}
	}
}

.normalize-first-p {
	p:first-child {
		margin-bottom: 0 !important;
	}
}

.normalize-last-p {
	p:last-child {
		margin-bottom: 0 !important;
	}
}

.mt-20 {
	margin-top: 20px;
}

.pt-20 {
	padding-top: 20px;
}

//md
@media (min-width: 768px) {
	.mb-md-20 {
		margin-bottom: 20px;
	}
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.no-pointer-events {
	pointer-events: none;
}

.responsive-img {
	width: 100%;
	height: auto;
}

.toast.show {
	right: 0.5rem;
}

.navbar-toggler {
	display: flex;
	padding: 0.25rem;
	// border: 2px solid transparent;
	// @include borderRadius;
	border-radius: 0;
}

.navbar-toggler-icon {
	width: 1em;
	height: 1em;
	vertical-align: top;
}

.navbar-dark {
	.navbar-toggler {
		border-color: #fff;
	}

	.navbar-nav .nav-item .nav-link.active,
	.navbar-nav .nav-item .nav-link:focus,
	.navbar-nav .nav-item .nav-link:hover {
		@media (max-width: 991.98px) {
			color: $successBase !important;
		}
	}
}

// .bg-brown-1 {
// 	background-color: #d9b88f;
// }

// .bg-nav {
// padding-bottom: 5rem !important;
// background-image: linear-gradient(-74deg, #fad961 0%, #fd7e14 35%, #dc3545 100%);
// }

// .bg-brown-3 {
// 	background-color: #402318;
// }

// .bg-brown-4 {
// 	background-color: #bf9169;
// }

// .bg-brown-5 {
// 	background-color: #592e1e;
// }

// .bg-brown-6 {
// 	background-color: #8c5b3f;
// }

// .navbar-light .navbar-nav .nav-link:hover {
// 	color: #506690 !important;
// }
// .navbar-light .navbar-nav .nav-item .nav-link.active,
// .navbar-light .navbar-nav .nav-item .nav-link:focus,
// .navbar-light .navbar-nav .nav-item .nav-link:hover {
// 	@media (max-width: 991.98px) {
// 		color: $successBase !important;
// 	}
// }

.nav-link {
	@media (min-width: 992px) {
		&:hover span::before,
		&.active span::before {
			background-color: $successBase;
		}
	}
}

@media (max-width: 991.98px) {
	.navbar-collapse {
		@include borderRadius;
	}
}

.two-col-header .two-col-header-item {
	@media (min-width: 1920px) {
		height: 75vh;
		min-height: 628px;
	}
}

.two-col-header-item--text {
	@media (min-width: 1920px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.modal-backdrop {
	z-index: 1050;
}

.scrollable-wrapper {
	width: 100%;
	overflow: hidden;
	.scrollable {
		width: 100%;
		overflow-x: scroll;
		.scrollable-content {
			display: inline-flex;
			padding: 0.5rem;
			// background-color: rgba(223, 71, 89, 0.7);
			.card-cta {
				font-size: 1.3125rem;
				background-color: white;
			}
			> div:last-child {
				margin-right: 0;
			}
		}
	}
}

.mobile-card {
	width: 75vw; // 18.75rem == 300px bei 16px HTML font size
	margin-right: 1rem;
	flex-shrink: 0;
	//md
	@media (min-width: 768px) {
		width: 18.75rem;
	}
	// lg
	// @media (min-width: 992px) {
	// 	width: 26.47rem;
	// }
	.card-body {
		flex-grow: 1;
		padding: 1rem 1.5rem;
		// lg
		@media (min-width: 992px) {
			padding: 1.5rem 2rem;
		}
	}
}

.pt-xxl-0,
.py-xxl-0 {
	@media (min-width: 1920px) {
		padding-top: 0 !important;
	}
}
.pb-xxl-0,
.py-xxl-0 {
	@media (min-width: 1920px) {
		padding-bottom: 0 !important;
	}
}

.pt-xxl-1,
.py-xxl-1 {
	@media (min-width: 1920px) {
		padding-top: 0.25rem !important;
	}
}
.pb-xxl-1,
.py-xxl-1 {
	@media (min-width: 1920px) {
		padding-bottom: 0.25rem !important;
	}
}

.pt-xxl-2,
.py-xxl-2 {
	@media (min-width: 1920px) {
		padding-top: 0.5rem !important;
	}
}
.pb-xxl-2,
.py-xxl-2 {
	@media (min-width: 1920px) {
		padding-bottom: 0.5rem !important;
	}
}

.pt-xxl-3,
.py-xxl-3 {
	@media (min-width: 1920px) {
		padding-top: 0.75rem !important;
	}
}
.pb-xxl-3,
.py-xxl-3 {
	@media (min-width: 1920px) {
		padding-bottom: 0.75rem !important;
	}
}

.pt-xxl-4,
.py-xxl-4 {
	@media (min-width: 1920px) {
		padding-top: 1rem !important;
	}
}
.pb-xxl-4,
.py-xxl-4 {
	@media (min-width: 1920px) {
		padding-bottom: 1rem !important;
	}
}

.pt-xxl-5,
.py-xxl-5 {
	@media (min-width: 1920px) {
		padding-top: 1.5rem !important;
	}
}
.pb-xxl-5,
.py-xxl-5 {
	@media (min-width: 1920px) {
		padding-bottom: 1.5rem !important;
	}
}

.pt-xxl-6,
.py-xxl-6 {
	@media (min-width: 1920px) {
		padding-top: 2rem !important;
	}
}
.pb-xxl-6,
.py-xxl-6 {
	@media (min-width: 1920px) {
		padding-bottom: 2rem !important;
	}
}

.pt-xxl-7,
.py-xxl-7 {
	@media (min-width: 1920px) {
		padding-top: 2.5rem !important;
	}
}
.pb-xxl-7,
.py-xxl-7 {
	@media (min-width: 1920px) {
		padding-bottom: 2.5rem !important;
	}
}

.pt-xxl-8,
.py-xxl-8 {
	@media (min-width: 1920px) {
		padding-top: 3rem !important;
	}
}
.pb-xxl-8,
.py-xxl-8 {
	@media (min-width: 1920px) {
		padding-bottom: 3rem !important;
	}
}

.pt-xxl-9,
.py-xxl-9 {
	@media (min-width: 1920px) {
		padding-top: 4rem !important;
	}
}
.pb-xxl-9,
.py-xxl-9 {
	@media (min-width: 1920px) {
		padding-bottom: 4rem !important;
	}
}

.pt-xxl-10,
.py-xxl-10 {
	@media (min-width: 1920px) {
		padding-top: 5rem !important;
	}
}
.pb-xxl-10,
.py-xxl-10 {
	@media (min-width: 1920px) {
		padding-bottom: 5rem !important;
	}
}

.pt-xxl-11,
.py-xxl-11 {
	@media (min-width: 1920px) {
		padding-top: 6rem !important;
	}
}
.pb-xxl-11,
.py-xxl-11 {
	@media (min-width: 1920px) {
		padding-bottom: 6rem !important;
	}
}

.pt-xxl-12,
.py-xxl-12 {
	@media (min-width: 1920px) {
		padding-top: 8rem !important;
	}
}
.pb-xxl-12,
.py-xxl-12 {
	@media (min-width: 1920px) {
		padding-bottom: 8rem !important;
	}
}

.pt-xxl-13,
.py-xxl-13 {
	@media (min-width: 1920px) {
		padding-top: 10rem !important;
	}
}
.pb-xxl-13,
.py-xxl-13 {
	@media (min-width: 1920px) {
		padding-bottom: 10rem !important;
	}
}

.pt-xxl-14,
.py-xxl-14 {
	@media (min-width: 1920px) {
		padding-top: 12rem !important;
	}
}
.pb-xxl-14,
.py-xxl-14 {
	@media (min-width: 1920px) {
		padding-bottom: 12rem !important;
	}
}

.pt-xxl-15,
.py-xxl-15 {
	@media (min-width: 1920px) {
		padding-top: 16rem !important;
	}
}
.pb-xxl-15,
.py-xxl-15 {
	@media (min-width: 1920px) {
		padding-bottom: 16rem !important;
	}
}

.pt-xxl-16,
.py-xxl-16 {
	@media (min-width: 1920px) {
		padding-top: 25rem !important;
	}
}
.pb-xxl-16,
.py-xxl-16 {
	@media (min-width: 1920px) {
		padding-bottom: 25rem !important;
	}
}

canvas.mapboxgl-canvas {
	display: block;
	// vertical-align: top;
}

canvas.mapboxgl-canvas:focus {
	outline: none;
}
