@import 'mixins';

.kursangebot {
	.flickity-viewport {
		// sm
		@media (max-width: 575px) {
			overflow: visible;
		}
	}

	.carousel-cell {
		width: 80%;
		//xs
		@media (max-width: 320px) {
			width: 95%;
		}
		padding: 1rem;
		margin-right: 10px;
		background: #f7f9fa; // rgba(80, 102, 144, 0.1);
		@include borderRadius;
		counter-increment: carousel-cell;
		border: 1px solid #c3cfd5;
	}

	.flickity-slider {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.flickity-button {
		position: absolute;
		display: none;
		// sm
		@media (min-width: 576px) {
			display: block;
		}
		transform: none !important;
		width: calc(1.625rem + 2px);
		height: calc(1.625rem + 2px);
		top: -60px;
		// lg
		@media (min-width: 992px) {
			top: -62px;
		}
		font-size: 0.8rem;
		background-color: #384c74;
		&:hover {
			background-color: #384c74;
		}
	}

	.flickity-button.previous {
		right: 34px;
		left: auto;
	}

	.flickity-button.next {
		right: 0px;
	}

	.badge {
		// border-radius: 0;
		@include borderRadius;
		border: 1px solid #c3cfd5;
		margin-right: 0.3125rem;
	}
}
